* {
    box-sizing: border-box;
    padding: ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.contact-section {
    padding: 80px;
    text-align: center;
    background-color: #162938;
    color: #fff;
}


.topnav {
    overflow: hidden;
    background: #fff;
    background-color: #162938;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid #fff;
}

.topnav a.active {
    border-bottom: 3px solid #fff;
}

input [type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #162938;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #162938;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0b1a26;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    
}